@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;600&display=swap");

.App {
  margin: auto;

  padding: 20px;

  font-family: "Noto Sans", sans-serif;
}

@media (min-width: 690px) {
  .App {
    max-width: 690px;
  }
}
