.company-user {
  border-bottom: 1px solid #aab9c4;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.company-user div {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: small;
}

.company-user span {
  text-transform: uppercase;
  margin-right: 5px;
}

.first {
  color: #152837;
}

.second {
  color: #aab9c4;
}
