.results {
  width: 48%;
}

.results h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: large;
  color: #152837;
}

.border {
  height: 5px;
  border-radius: 60px;
  background-color: #152837;

  margin-bottom: 12px;
}

.results button {
  display: block;
  margin: 30px auto;
  font-weight: bold;
  color: #aab9c4;
  background: none;
  border: none;
}
