.initial-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initial-box i {
  font-size: 5rem;
  color: #aab9c4;
  margin-bottom: 30px;
}

.initial-box p {
  font-weight: 700;
  font-size: large;
  color: #152837;
  text-align: center;
}

@media (min-width: 690px) {
  .result {
    display: flex;
    justify-content: space-between;
  }
}
